.categories-block-container{
   display: none;
   width: 1260px;
   min-height: 1615px;
   justify-content: center;
   .categories-block{
      display: flex;
      width: 1020px;
      min-height: 1615px;
      flex-direction: column;
      align-items: center;
      .categories-block-text{
         color: #292929;
         font-size: 48px;
         font-family: Inter;
         font-weight: 700;
         line-height: 48px;
         word-wrap: break-word;
         margin-top: 120px;
         text-align: center;
      }
      .categories-list{
         display: flex;
         width: 1020px;
         min-height: 1225px;
         margin-top: 64px;
         flex-direction: column;
         justify-content: space-between;
         .category{
            display: flex;
            width: 1020px;
            height: 371px;
            flex-direction: column;
            .category-picture{
               display: flex;
               width: 1020px;
               height: 321px;
               justify-content: space-between;
            }
            .category-name{
               display: flex;
               margin-top: 16px;
               color: #292929;
               font-size: 24px;
               font-family: Inter;
               font-weight: 700;
               line-height: 33.60px;
               word-wrap: break-word;
            }
         }
      }
      .button-container{
         display: flex;
         justify-content: center;
         width: 1020px;
         height: 56px;
         .view-all{
            background: #292929; 
            border-radius: 40px; 
            justify-content: center; 
            text-align: center;
            align-items: center; 
            width: 324px;
            height: 56px;
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            line-height: 27px;
            word-wrap: break-word;
            &:hover{
               color: #292929;
               font-size: 16px;
               font-family: Inter;
               font-weight: 700;
               line-height: 27px;
               word-wrap: break-word;
               border: 1.50px #292929 solid;
               background-color: white;
            }
            &:active{
               color: white;
               font-size: 16px;
               font-family: Inter;
               font-weight: 700;
               line-height: 27px;
               word-wrap: break-word;
               background-color: #111111;
            }
         }
      }
      
   }
}