body{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.main{
   display: flex;
   justify-content: center;
   width: 100%;
   min-height: 4500px;
   .mainflow{
      display: flex;
      width: 1260px;
      min-height: 4500px;
      flex-direction: column;
      .header-block{
         display: flex;
         width: 1260px;
         height: 720px;
         position: relative;
         flex-direction: column;
         background-image: url('../assets/image_3.png');
         header{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 1260px;
            min-height: 76px;
            .navbar-block{
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 1020px;
               height: 32px;
               .logo{
               width: 191px;
               height: 24px;
               }
               .menu-phone-block{
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  width: 243px;
                  height: 32px;
                  .number{
                     opacity: 0;
                     width: 139px;
                     height: 16px;
                     order: 1;
                     color: #292929;
                     font-size: 12px;
                     font-family: Inter;
                     font-weight: 700;
                     text-transform: uppercase;
                     line-height: 16px;
                     letter-spacing: 2px;
                     word-wrap: break-word;
                  }
                  .phone{
                     order: 2;
                     width: 32px;
                     height: 32px;
                     margin-left: 8px;
                     background-image: url('../assets/Icon-Phone-call.png');
                  }
                  .phone:hover~.number{
                     opacity: 1;
                  }
                  .burger{
                     width: 32px;
                     order: 3;
                     height: 32px;
                     margin-left: 32px;
                     background-image: url('../assets/Icon-Burger-menu.png');
                     &:hover{
                        background-image: url('../assets/Icon-Burger-menu-hover.png');
                     }
                  }
               }
            }
            
         }
        .header-menu-container{
            display: flex;
            width: 1260px;
            height: 700px;
            z-index: 10;
            background: #E8EFF9;
            position: absolute;
            top: 80px;
            justify-content: center;
            .header-menu-block{
               display: flex;
               width: 1020px;
               height: 449px;
               margin-top: 48px;
               flex-direction: column;
               .header-menu-logo{
                  display: flex;
                  width: 1020px;
                  height: 32px;
                  justify-content: space-between;
                  align-items: center;
               }
               .menu-items-container{
                  display: flex;
                  width: 1020px;
                  height: 345px;
                  margin-top: 80px;
                  justify-content: space-between;
                  flex-direction: column;
                  .menu-items{
                     display: flex;
                     width: 198px;
                     height: 238px;
                     justify-content: space-between;
                     flex-direction: column;
                     color: #292929;
                     font-size: 21px;
                     font-family: Inter;
                     font-weight: 600;
                     text-transform: uppercase;
                     line-height: 22px;
                     letter-spacing: 2px;
                     word-wrap: break-word
                  }
                  .menu-item:hover{
                     cursor: default;
                     text-decoration: underline;
                  }
                  .call-items{
                     display: flex;
                     width: 198px;
                     height: 67px;
                     justify-content: space-between;
                     flex-direction: column;
                     .call-item-number{
                        color: #292929;
                        font-size: 16px;
                        font-family: Inter;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 27px;
                        word-wrap: break-word;
                        &:hover{
                           cursor: default;
                           text-decoration: underline;
                        }
                     }
                     .call-item{
                        color: #292929;
                        font-size: 12px;
                        font-family: Inter;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 16px;
                        letter-spacing: 2px;
                        word-wrap: break-word;
                        &:hover{
                           cursor: default;
                           text-decoration: underline;
                        }
                     }
                  }
               }
            }
         }
         .header-text-block{
            display: flex;
            justify-content: space-between;
            width: 498px;
            height: 206px;
            position: relative;
            z-index: 8;
            align-items: flex-start;
            margin-left: 120px;
            margin-top: 324px;
            flex-direction: column;
            .sound-text-block{
               color: #292929;
               font-size: 48px;
               font-family: Inter;
               font-style: italic;
               font-weight: 800;
               line-height: 48px;
               word-wrap: break-word
            }
         }
      }
   }
}